**/a.out
./programming_kai/5_laba/33/main
./programming_kai/5_laba/Пример лектора/main
./programming_kai/5_laba/25/main
./programming_kai/1_lection/test_work_with_files/main
./programming_kai/4_laba/254/CMakeFiles/main
./programming_kai/4_laba/254/main
./programming_kai/4_laba/265/main
./programming_kai/3_laba/408/main
./programming_kai/3_laba/385/main
./programming_kai/2_laba/245/main
./programming_kai/2_laba/235/main
./programming_kai/1_laba/162/main
./programming_kai/6_laba/102/main
./programming_kai/6_laba/105/main
./programming_kai/6_laba/107/main
./.git/logs/refs/heads/main
./.git/refs/heads/main
*.idea