*/.idea/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/software-engineering.iml
/.idea/vcs.xml
